<!DOCTYPE html>
<html>
	<head>
		<title>Create claim</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.js"></script>
		
	</head>
	<body>
		
		<div class="container mt-5">
			
			<h2>Create Compensation Claim</h2>
			
			<form th:action="@{/compensation/create}" method="post" class="mt-4" th:object="${claim}">
				<div class="form-group row">
					<label for="date" class="col-sm-2 col-form-label">Select Date:</label>
					<div class="col-sm-10">
						<input type="text" id="date" name="date" placeholder="Select date" class="form-control" th:field="*{date}" autocomplete="off"/>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="startTime" class="col-sm-2 col-form-label">Select Start Time:</label>
					<div class="input-group clockpicker col-sm-10">
						<input id="startTime" name="startTime" type="text" class="form-control" th:field="*{startTime}" autocomplete="off">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-time"></span>
						</span>
					</div>
				</div>
				
				<div class="form-group row ">
					<label for="endTime" class="col-sm-2 col-form-label">Select End Time:</label>
					<div class="input-group clockpicker col-sm-10">
						<input id="endTime" name="endTime" type="text" class="form-control" th:field="*{endTime}" autocomplete="off">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-time"></span>
						</span>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="hours" class="col-sm-2 col-form-label">Hours:</label>
					<div class="col-sm-10">
						<input type="number" id="" name="hours" class="form-control" th:field="*{hours}" readonly/>
						<span class="text-secondary">Note: Compensation claims are round down to nearest 15 minutes.</span>
					</div>
				</div>
				
				<label for="calculate" class="col-sm-2 col-form-label"></label>
				<button type="button" name="calculate" class="btn btn-outline-primary btn-sm" onclick="calculateHours()">Calculate Hours</button>
				
				<br />
				<br />
				<div class="form-group row">
					<label for="remarks" class="col-sm-2 col-form-label">Remarks:</label>
					<div class="col-sm-10">
						<textarea rows="3" cols="25" id="" name="remarks" class="form-control" th:field="*{remarks}" />
					</div>
				</div>
				
				<label for="submit" class="col-sm-2 col-form-label"></label>
				<button type="submit" name="submit" class="btn btn-primary">Submit</button>
			</form>
			<br />
			<table style="width:50%; margin-left: auto; margin-right: auto; border: white;">
				<tr>
					<td style="text-align: center; font-weight: bold;"><a href="#" onclick="history.go(-1); return false;">Back</a></td>
				</tr>
			</table>
		</div>
		
		<script>
			$(document).ready(function () {
				$("#date").datepicker({
					dateFormat: 'dd/mm/yy',
					beforeShowDay: $.datepicker.noWeekends,
					maxDate: 0
				});
				$("#startTime").clockpicker({
					autoclose: true,
					twelvehour: false,
					fromnow: 0,
					default: 'now',
				});
				$("#endTime").clockpicker({
					autoclose: true,
					twelvehour: false,
					fromnow: 0,
					default: 'now',
				});
			});
			console.log("Script is running");
			const startTimeElement = document.getElementById("startTime")
			const endTimeElement = document.getElementById("endTime");
			const hoursElement = document.getElementById("hours")
			
			function calculateHours(){
				console.log("Function triggered");
				var startTimeValue = $('#startTime').val();
				var endTimeValue = $('#endTime').val();
				
				console.log(startTimeValue);
				console.log(endTimeValue);
				
				var startTime = new Date('2023-01-01 ' + startTimeValue);
				var endTime = new Date('2023-01-01 ' + endTimeValue);
				
				console.log(startTime);
				console.log(endTime);
				
				
				var timeDifference = endTime - startTime;
				
				console.log(timeDifference);
				
				if (timeDifference > 0) {
					var hours = Math.floor(timeDifference / (1000 * 60 * 60));
					var minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
					console.log("minutes: " + minutes);
					var minutesInHours = 0;
					//Round down to nearest 15 minutes
					if (minutes >= 15 && minutes < 30) {
						minutesInHours = 0.25;
					} 
					else if (minutes >= 30 && minutes < 45) {
						minutesInHours = 0.5;
					} 
					else if (minutes >= 45 && minutes < 60) {
						minutesInHours = 0.75;
					}
					console.log("hours: " + hours);
					console.log("minutesInHours: " + minutesInHours);
					hours = hours + minutesInHours;
					console.log(hours);
					hoursElement.value = hours;
				}
			}
			
		</script>

	</body>