<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<header th:insert="fragments/general.html::header"></header>
	<div th:insert="fragments/general.html::navigationbar"></div>
	<h1 th:utext="#{overtime-manage.heading}"></h1>
	<div class="table-responsive-lg">

		<table class="table">
			<thead>
				<tr>
					<th scope="col" style="text-align:center;">ID</th>
					<th scope="col" style="text-align:center;">Overtime Date</th>
					<th scope="col" style="text-align:center;">Staff Name</th>
					<th scope="col" style="text-align:center;">Overtime Hours</th>
					<th scope="col" colspan="2" style="text-align:center;">Status</th>

				</tr>
			</thead>
			<tbody>
				<tr th:if="${not #lists.isEmpty(overtimelist)}" th:each="ot:${overtimelist}">
					<td th:text="${ot.id}" style="text-align:center;">ID</td>
					<td th:text="${ot.overtimeDate}" style="text-align:center;">overtimeDate</td>
					<td th:text="${ot.staff.name}" style="text-align:center;">Staffname</td>
					<td th:text="${ot.overtimeHours}" style="text-align:center;">overtimehours</td>
					<td  style="text-align:center;">
						<form action="/manager/overtimeprocessed" th:object="${et}"
							method="POST">
							<input type="hidden" name ="id" th:value="${ot.id}">
							<button name="overTimeStatus" value="Approved" type="submit">Approve</button>
						</form>
					</td>
					<td style="text-align:center;"><form action="/manager/overtimeprocessed" th:object="${ot}"
							method="POST">
							<input type="hidden" name ="id" th:value="${ot.id}"> 
							<button name="overTimeStatus" value="Rejected" type="submit">Reject</button>
						</form></td>

				</tr>
			</tbody>
		</table>

	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<div th:insert="fragments/general.html::footer"></div>

</body>
</html>