<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<title>
			Search Results
		</title>
	</head>
	<body style="text-align: center;">
		<div class="container mt-5">
			<h2>Search Results - Users</h2>
	    	<br />
	    	<p style="text-align: center;" th:if="${#lists.isEmpty(users)}">No Results Found</p>
			<table style="margin-left:auto; margin-right: auto; width:100%" class="table-hover" th:if="${not #lists.isEmpty(users)}">
				<thead>
					<tr>
						<th>No.</th>
						<th>User ID</th>
						<th>Name:</th>
						<th>Role:</th>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user, iterStat:${users}" style="text-align: center;">
						<td th:text="${iterStat.count}"></td>
						<td th:text="${user.id}"></td>
						<td th:text="${user.name}"></td>
						<td th:text="${user.type}"></td>
						<td>
							<a th:href="@{/users/edit/}+${user.id}" >Edit/Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br />
		<div>
			<table style="width:50%; margin-left: auto; margin-right: auto; border: white;">
				<tr>
					<td style="text-align: center; font-weight: bold;"><a href="/users/search">Back</a></td>
				</tr>
			</table>
		</div>
	</body>
</html>