<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<title>
			Search Results
		</title>
	</head>
	<body style="text-align: center;">
		<div class="container mt-5">
			<h2>Search Results - Compensation Claims</h2>
	    	<br />
	    	
	    	<p style="text-align: center;" th:if="${#lists.isEmpty(claims)}">No Results Found</p>
			<table style="margin-left:auto; margin-right: auto; width:100%" class="table-hover" th:if="${not #lists.isEmpty(claims)}">
				<thead>
					<tr>
						<th>No.</th>
						<th>Employee Name</th>
						<th>Date:</th>
						<th>Start Time:</th>
						<th>End Time:</th>
						<th>Hours:</th>
						<th>Remarks:</th>
						<th>Status:</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="claim, iterStat:${claims}" style="text-align: center;">
						<td th:text="${iterStat.count}"></td>
						<td th:text="${claim.employee.name}"></td>
						<td th:text="${#temporals.format(claim.date, 'dd-MM-yyyy')}"></td>
						<td th:text="${claim.startTime}"></td>
						<td th:text="${claim.endTime}"></td>
						<td th:text="${claim.hours}"></td>
						<td th:text="${claim.remarks}"></td>
						<td th:text="${claim.status}"></td>
					</tr>
				</tbody>
			</table>
			<br />
			<a href="/report/exportClaims"><button type="button" class="btn btn-outline-primary" th:if="${not #lists.isEmpty(claims)}">Export to CSV</button></a>
		</div>
		<br />
		<div>
			<table style="width:50%; margin-left: auto; margin-right: auto; border: white;">
				<tr>
					<td style="text-align: center; font-weight: bold;"><a href="/home" >Back To Home</a></td>
				</tr>
			</table>
		</div>
	</body>
</html>