<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<title>
			View claim
		</title>
	</head>
	<body style="text-align: center;">
		<div class="container mt-5">
			<h2>Personal Claim History</h2>
	    	<br />
	    	<p style="text-align: center;" th:if="${#lists.isEmpty(claims)}">No Claim Records</p>
			<table style="margin-left:auto; margin-right: auto; width:100%" class="table-hover" th:if="${not #lists.isEmpty(claims)}">
				<thead>
					<tr>
						<th>No.</th>
						<th>Date:</th>
						<th>Start Time:</th>
						<th>End Time:</th>
						<th>Hours:</th>
						<th>Status:</th>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="claim, iterStat:${claims}" style="text-align: center;">
						<td th:text="${iterStat.count}"></td>
						<td th:text="${#temporals.format(claim.date, 'dd-MM-yyyy')}"></td>
						<td th:text="${claim.startTime}"></td>
						<td th:text="${claim.endTime}"></td>
						<td th:text="${claim.hours}"></td>
						<td th:text="${claim.status}"></td>
						<td>
							<a th:href="@{/compensation/details/}+${claim.id}" th:if="${claim.status eq T(sg.nus.iss.java.model.Status).Applied}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br />
		<div>
			<table style="width:50%; margin-left: auto; margin-right: auto; border: white;">
				<tr>
					<td style="text-align: center; font-weight: bold;"><a href="/home" >Back To Home</a></td>
				</tr>
			</table>
		</div>
	</body>
</html>