<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		<title>
			Cancel leave
		</title>
	</head>
	<body>
			<div class="container mt-5">
				
				<div>
					<h2>Cancel Leave</h2>
				</div>
				
				<br />
				
				<div th:object="${leave}">
					<div class="form-group row">
						<label for="type" class="col-sm-2 col-form-label">Leave Type:</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{type}" name="type" class="form-control" readonly></input>
							<input type="text" th:field="*{id}" id="id" hidden></input>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="daterange" class="col-sm-2 col-form-label">Leave period:</label>
						<div class="col-sm-10">
							<input type="text" name="daterange" class="form-control" autocomplete="off" readonly/>
							<input type="date" name="startDate" id="startDate" th:field="*{startDate}" hidden/>
							<input type="date" name="endDate" id="endDate" th:field="*{endDate}" hidden/>
						</div>
					</div>
	
					<div class="form-group row">
						<label for="duration" class="col-sm-2 col-form-label">Duration of Leave:</label>
						<div class="col-sm-10">
							<input type="number" th:field="*{duration}" id="duration" name="duration" readonly class="form-control">
							<span style="color: red;" id="durationMessage"></span>
						</div>
					</div>
	
					<div class="form-group row">
						<label for="reason" class="col-sm-2 col-form-label">Reason:</label>
						<div class="col-sm-10">
							<textarea rows="3" cols="25" th:field="*{reason}" name="reason" class="form-control" readonly></textarea>
						</div>
					</div>
	
					<div class="form-group row" >
						<label for="workDissemination" class="col-sm-2 col-form-label">Work Dissemination (if any):</label>
						<div class="col-sm-10">
							<input type="text" name="workDissemination" class="form-control" th:field="*{workDissemination}" readonly/>
						</div>
					</div>
	
					<div class="form-group row" id="contact">
						<label for="contact" class="col-sm-2 col-form-label">Contact Details (if overseas):</label>
						<div class="col-sm-10">
							<input type="text" name="contact" class="form-control" th:field="*{contact}" readonly/>
						</div>
					</div>
					
					<div class="form-group row" id="contact">
						<label for="contact" class="col-sm-2 col-form-label">Comments:</label>
						<div class="col-sm-10">
							<input type="text" name="comment" class="form-control" th:field="*{comment}" readonly/>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="applicationOutcome" class="col-sm-2 col-form-label">Application Outcome:</label>
						<div class="col-sm-10">
							<div class="form-check form-check-inline">
								<input th:checked="${leave.status == T(sg.nus.iss.java.model.Status).Approved}" type="radio" name="applicationOutcome" id="approve" value="Approve" class="form-check-input" disabled>
								<label for="approve" class="form-check-label mr-4">Approve</label>
							</div>
							<div class="form-check form-check-inline">
								<input th:checked="${leave.status == T(sg.nus.iss.java.model.Status).Rejected}" type="radio" name="applicationOutcome" id="reject" value="Reject" class="form-check-input" disabled>
								<label for="reject" class="form-check-label mr-4">Reject</label>
							</div>
						</div>
					</div>
					<label for="submit" class="col-sm-2 col-form-label"></label>
					<button type="button" name="submit" class="btn btn-primary" onclick="promptCancel()">Cancel Leave</button>
					
					<br />
				</div>
			<table style="width:50%; margin-left: auto; margin-right: auto; border: white;">
				<tr>
					<td style="text-align: center; font-weight: bold;"><a href="/leaves/view">Back</a></td>
				</tr>
			</table>
			
			<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
			<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
			<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
			<script th:inline="javascript">
				var numberOfDays = 0.0;
				var startDateString = '[[${startDate}]]';
				var startDateFormat = moment(/*[[${leave.startDate}]]*/);
				var endDateFormat = moment(/*[[${leave.endDate}]]*/);
				
				$(function() {
					$('input[name="daterange"]').daterangepicker({
						autoApply: true,
						startDate: startDateFormat,
						endDate: endDateFormat,
				    	opens: "center",
				    	beforeShow: function(i) { if ($(i).attr('readonly')) { return false; } },
				    	autoHide: true,
				    	isInvalidDate: function(date){
						if (date.day() == 0 || date.day() == 6) {
							return true;
						} 
						else {
							return false;
						}
						},
						locale: {
							format: 'DD/MM/YYYY',
						}
					});
					
				$('input[name="daterange"]').prop('readonly', true);
				
				const dropDownElement = document.getElementById("type");
				document.addEventListener('DOMContentLoaded', function() {
					if (dropDownElement.value != "Compensation"){
						halfDayElement.style.display = 'none';
					}
				})	
			});
			
			function promptCancel(){
					if (window.confirm("Comfirm cancellation?")){
						window.location = "/leaves/confirmCancel/"+$("#id").val();
					}
				}
		</script>
	</body>
</html>