<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		<title>
			Create new leave
		</title>
	</head>
	<body>
		<div class="container mt-5">
			<div>
				<h2>Create New Leave</h2>
			</div>
			
			<input type="text" id="role" th:value="${role}" hidden/>
			
			<div class="form-group row" id="balance">
				<label for="annualLeaveBalance" class="col-sm-2 col-form-label">Annual leave balance: </label>
				<div class="col-sm-10">
					<span name="annualLeaveBalance" th:text="${session.annualLeaveBal + ' days'}" class="form-control-plaintext"></span>
				</div>
				<label for="medicalLeaveBalance" class="col-sm-2 col-form-label">Medical leave balance: </label>
				<div class="col-sm-10">
					<span name="medicalLeaveBalance" th:text="${session.medicalLeaveBal + ' days'}" class="form-control-plaintext"></span> 
				</div>
				<label for="compensationLeaveBalance" class="col-sm-2 col-form-label">Compensation leave balance: </label>
				<div class="col-sm-10">
					<span name="compensationLeaveBalance" th:text="${session.compensationLeaveBalDays + ' days' + ' (' + session.compensationLeaveBalHours + ' hours)'}" class="form-control-plaintext"></span>
				</div>
			</div>
			<form th:action="@{/leaves/new}" method="post" th:object="${leave}" class="mt-4">
				<div class="form-group row">
					<label for="type" class="col-sm-2 col-form-label">Leave Type:</label>
					<div class="col-sm-10">
						<select name="type" th:field="*{type}" id="type" class="form-control">
							<option th:each="type : ${T(sg.nus.iss.java.model.LeaveType).values()}" 
									th:value="${type}" th:text="${type}"></option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="daterange" class="col-sm-2 col-form-label">Leave period:</label>
					<div class="col-sm-10">
						<input type="text" name="daterange" class="form-control" autocomplete="off"/>
						<input type="date" name="startDate" th:field="*{startDate}" hidden/>
						<input type="date" name="endDate" th:field="*{endDate}" hidden/>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-10 offset-sm-2" id="halfDay">
						<input type="checkbox" name="halfDay" id="checkbox" />
						<label for="halfDay" >Half day</label>
					</div>
				</div>

				<div class="form-group row">
					<label for="duration" class="col-sm-2 col-form-label">Duration of Leave (days):</label>
					<div class="col-sm-10">
						<input type="number" th:field="*{duration}" id="duration" name="duration" readonly class="form-control">
						<span style="color: red;" id="durationMessage"></span>
					</div>
				</div>

				<div class="form-group row">
					<label for="reason" class="col-sm-2 col-form-label">Reason:</label>
					<div class="col-sm-10">
						<textarea rows="3" cols="25" th:field="*{reason}" name="reason" class="form-control"></textarea>
						<span th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group row" >
					<label for="workDissemination" class="col-sm-2 col-form-label">Work Dissemination (if any):</label>
					<div class="col-sm-10">
						<input type="text" name="workDissemination" class="form-control" th:field="*{workDissemination}">
					</div>
				</div>

				<div class="form-group row" id="contact">
					<label for="contact" class="col-sm-2 col-form-label">Contact Details (if overseas):</label>
					<div class="col-sm-10">
						<input type="text" name="contact" class="form-control" th:field="*{contact}">
					</div>
				</div>

				<label for="submit" class="col-sm-2 col-form-label"></label>
				<button type="submit" name="submit" class="btn btn-primary">Submit</button>
			</form>
			<br />
			</div>
			<table style="width:50%; margin-left: auto; margin-right: auto; border: white;">
				<tr>
					<td style="text-align: center; font-weight: bold;"><a href="/home">Back</a></td>
				</tr>
			</table>
			
			<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
			<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
			<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
			<script th:inline="javascript">
				var numberOfDays = 1.0; //Set 1.0 first as default start and end dates is today
				var publicHolidays = /*[[${publicHolidays}]]*/ ""; 
				var PHDates = publicHolidays.map(function(holiday) {
					return holiday.date;
				});
				const durationElement = document.getElementById("duration");
				
				$(function() {
					var startDateStr = /*[[${startDate}]]*/ ""; 
				    var endDateStr = /*[[${endDate}]]*/ "";
				    
				    var startDate = moment(startDateStr, 'YYYY-MM-DD');
				    var endDate = moment(endDateStr, 'YYYY-MM-DD');
					$('input[name="daterange"]').daterangepicker({
						autoApply: true,
						startDate: startDate,
						endDate: endDate,
				    	opens: "center",
				    	isInvalidDate: function(date){
							currDate = moment(date).format('YYYY-MM-DD')
							if (date.day() == 0 || date.day() == 6 || (PHDates.indexOf(currDate) != -1)) {
								return true;
							} 
							else {
								return false;
							}
						},
						locale: {
							format: 'DD/MM/YYYY',
						}
					},
					function(start, end, label) {
						//Set the values for the startDate and endDate input for model binding later
					    var startDate = $('#startDate');
						var endDate = $('#endDate');
						startDate.val(start.format('YYYY-MM-DD'));
						endDate.val(end.format('YYYY-MM-DD'));
						numberOfDays = end.diff(start, 'days') + 1; // Add 1 to include both start and end dates
						console.log("Number of days selected: " + numberOfDays);
						
						//If leave period <= 14 calendar days, exclude weekends and public holidays. Otherwise, include
						if (numberOfDays > 14){
							durationElement.value = numberOfDays;
						}
						else{
							numberOfDays = 0.0;
							var currentDate = moment(start);
							//Use while loop to count number of valid dates of selected dates
							while (currentDate.isSameOrBefore(end, 'day')) {
								var currDateStr = currentDate.format('DD/MM/YYYY');
								if (!(currentDate.day() == 0 || currentDate.day() == 6 || (isPublicHoliday(currDateStr, PHDates)))) {
									numberOfDays++;
								}
								currentDate.add(1, 'day');
							}
							durationElement.value = numberOfDays.toFixed(1);
						}
						checkLeaveBal();
			  		});
				});
				const dropDownElement = document.getElementById("type");
				const halfDayDiv = document.getElementById("halfDay");
				const contactElement = document.getElementById("contact");
				const checkboxElement = document.getElementById("checkbox");
				const balElement = document.getElementById("balance")
				const userRole = document.getElementById("role").value;
				
				document.addEventListener('DOMContentLoaded', function() {
					checkType();
					checkLeaveBal();
					if (userRole === "Ceo"){
						balElement.style.display = 'none';
					}
				})	
				
				dropDownElement.addEventListener("change", function(){
					checkType();
					checkLeaveBal();
				});
				
				function checkType(){
					if (dropDownElement.value === "Compensation"){
						halfDayDiv.style.display = 'block';
					}
					else{
						halfDayDiv.style.display = 'none';
					}
					if (dropDownElement.value === "Annual"){
						contactElement.style.display = 'flex';
					}
					else{
						contactElement.style.display = 'none';
					}
				}
				
				checkboxElement.addEventListener("change", function(){
					if (checkboxElement.checked){
						console.log("check box is checked");
						var currentDuration = parseFloat(durationElement.value);
						console.log(currentDuration);
						durationElement.value = (currentDuration - 0.5).toFixed(1);
						checkLeaveBal();
					}
					else{
						console.log("check box is UNchecked");
						durationElement.value = numberOfDays.toFixed(1);
						checkLeaveBal();
					}
				});
				
				function checkLeaveBal(){
					console.log("on change triggerred");
					if (userRole === "Employee" || userRole === "Manager"){
						var duration = parseFloat(document.getElementById("duration").value);
						var durationMessageElement = document.getElementById("durationMessage");
						var leaveBal = 0;
						var submitButton = document.querySelector('button[name="submit"]');
						if (dropDownElement.value === "Annual"){
							leaveBal = /*[[${session.annualLeaveBal}]]*/ '';
						}
						else if (dropDownElement.value === "Medical"){
							leaveBal = /*[[${session.medicalLeaveBal}]]*/ '';
						}
						else{
							leaveBal = /*[[${session.compensationLeaveBalDays}]]*/ '';
						}
					  	console.log("leaveBal in javascript: " + leaveBal);
						if (duration > leaveBal){
							durationMessageElement.innerHTML = "Duration exceeds " + dropDownElement.value +" leave balance.";
							submitButton.disabled = true;
						}
						else{
							durationMessageElement.innerHTML = "";
							submitButton.disabled = false;
						}
					}
				}
				
				function isPublicHoliday(dateStr, publicHolidays) {
					// Convert dateStr to LocalDate format for comparison
					var currentDate = moment(dateStr, 'DD/MM/YYYY').toObject();
					var formattedDate = moment(currentDate).format('YYYY-MM-DD');
				    
				    // Check if the formattedDate is in the publicHolidays array
					return publicHolidays.includes(formattedDate);
				}
		</script>
	</body>
</html>